html,body  {
    height: 100%;
}



.bg-primary-color {
  background-color: white;
}

.bg-secondary-color {
  background-color: #ECE8ea;
}

.bg-dark-color {
  background-color: #050505;
}

.primary-color {
  color: #050505;
}

.secondary-color {
  color: #7a7a7a;
}


#navbar {
  border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
  color: #7a7a7a;
}

#navbar .active {
  border-bottom: 1px solid #050505;
}

.navbar-brand {
  display: flex;
}

.navbar-brand img {
  width: 50px;
}

.navbar-brand span {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 0.5em;
}

#navbar-items .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#navbar-items .nav-item {
  margin: 0 1em;
}


section {
    margin-top:0 px;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Lato';
    text-align: center;
    margin-top: 130px;
}


















#footer {
    padding: 3em 2em;
}
  
  #footer-top {
    margin-bottom: 2em;
}
  
  #footer-top,
  #footer-top i {
    color: #fff;
}
  
  #social-icons {
    text-align: right;
}
  
  #social-icons i {
    margin-right: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
  
  #social-icons i:hover {
    color: #7a7a7a;
}
  
  #footer-details {
    margin-bottom: 3em;
}
  
  #news-container,
  #contact-container,
  #links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}
  
  #footer-details h4 {
    color: #fff;
    margin-bottom: 1.5em;
}
  
  #news-container input {
    border-radius: 0;
    border: none;
}
  
  #links-container li {
    margin-bottom: 0.5em;
}
  
  #links-container a {
    text-decoration: none;
}
  
  #links-container a:hover {
    color: #fff;
}

#footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
  }
  
  #footer-bottom i {
    color: #e61e10;
  }
  
  @media (min-width: 768px) {
    #news-container {
      padding-right: 2em;
    }
  
    #contact-container {
      padding: 0 2em;
      border-left: 1px solid #7a7a7a;
      border-right: 1px solid #7a7a7a;
    }
  
    #links-container {
      padding-left: 2em;
    }
  }

